*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Manrope', system-ui, sans-serif;
  background: #F7F5F0;
  color: #1A1A1D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
